In [4]:
import pandas as pd
from data_split import *

In [5]:
split_ratio = [.8, .1, .1]
train_vals_loc = "../../Data/raw/dengue_features_train.csv"
train_labels_loc = "../../Data/raw/dengue_labels_train.csv"
submit_data_loc = "../../Data/raw/dengue_features_test.csv"
interim_loc = "../../Data/interim/"

PRIMARY_KEY = "pk" 
#Combine the values with their labels
#not needed if data
train_vals_df = pd.read_csv(train_labels_loc)
train_features_df = pd.read_csv(train_vals_loc)
submit_features_df = pd.read_csv(submit_data_loc)
df_list = [train_features_df, train_vals_df, submit_features_df]
for df in df_list:
    gen_primary_key(df, cols_to_combine=["city", "year", "weekofyear"], primary_key_name=PRIMARY_KEY)

whole_df = combine_vals_labels(train_features_df, train_vals_df, PRIMARY_KEY)

In [6]:
whole_df.head()
#TODO: Take Whole df, and get rid of everything that is not an int or a float (one-hot encode or just ditch it)

,city_x,year_x,weekofyear_x,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,city_y,year_y,weekofyear_y,total_cases
pk,,,,,,,,,,,,,,,,,,,,,
sj_1990_18,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,2.628571,25.442857,6.900000,29.4,20.0,16.0,sj,1990,18,4
sj_1990_19,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,2.371429,26.714286,6.371429,31.7,22.2,8.6,sj,1990,19,5
sj_1990_20,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,2.300000,26.714286,6.485714,32.2,22.8,41.4,sj,1990,20,4
sj_1990_21,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,2.428571,27.471429,6.771429,33.3,23.3,4.0,sj,1990,21,3
sj_1990_22,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,3.014286,28.942857,9.371429,35.0,23.9,5.8,sj,1990,22,6